
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font: 400 16px 'Roboto', sans-serif;
}
.input-task {
   background-color: rgb(32, 32, 32);
   color: white;
   border: none;
   border-radius: 10px;
   width: 550px;
   height: 40px;
   outline: none;
   padding: 1%;
}
.button-add-task {
   background-color: rgb(64, 64, 64);
   color: white;
   border: none;
   border-radius: 10px;
   width: 100px;
   height: 40px;
   font-weight: 600;
   outline: none;
   align-items: end;
   cursor: pointer;
}

.button-add-task:hover {
   opacity: 0.8;
}
.button-add-task:active {
   opacity: 0.6;
}
body {
   background: url("img/background.png");
   background-size: cover;
}

.box {
    background-color: rgba(0, 0, 0, 0.478);
    color: white;
    width: 700px;
    border-radius: 15px;
    padding: 20px;
    margin: 100px auto 0;
}

.list-tasks{
   list-style: none;
   width: 100%;
   margin-top: 20px;
}

.task{
   background-color: rgb(38, 38, 38);
   border-radius: 20px;
   padding: 15px 15px;
   outline: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
   cursor: pointer;
   opacity: 1;
   transition: opacity 1s ease-in-out;
}

.done{
   color: rgb(32, 32, 32);
   background-color: rgb(23, 167, 85);
}

img {
   height: 35px;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

.task:hover img {
   opacity: 1;
}